.frost-detail-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;

  .title {
	font-size: $frost-font-s;
	font-weight: 500;
	color: $frost-color-grey-5;
  padding-right: 5px;
  }

  .level {
    .frost-button {
      .frost-icon {
        fill: $frost-color-grey-4;
      }
    }
    .frost-button.active {
      .frost-icon {
        fill: $frost-color-blue-1;
      }
    }
  }
  //.level > .frost-button.icon {
  //  padding-right: 0px;
  //  margin-right: 0px;
  //}
  .level + .level {
    .frost-button.icon {
      margin-left: 0px;
    }
  }
}
