<h3>Query parmeters binding</h3>

<div class="qp-binding">
    <div class="qp-binding-demo">
      {{frost-list
      items=statefulListItems
      onSelect=(action 'selectItem')
      item=(component componentPath
        onCollapse=(action 'collapseItem')
        onExpand=(action 'expandItem')
      )
      expansion=(component 'frost-list-expansion'
        onCollapseAll=(action 'collapseItems')
        onExpandAll=(action 'expandItems')
      )
      sorting=(component 'frost-sort'
        sortOrder=activeSorting
        properties=sortableProperties
        onChange=(action 'sortItems')
      )
      }}
    </div>

    <div class="qp-binding-source">
        <div>Route</div>
      {{code-snippet name="qp-binding-route.js"}}
    </div>
</div>