<h2>Coming soon!</h2>
<p>
    <b>ember-frost-list</b> is an ember addon that built on top of
    [smoke-and-mirror](https://github.com/runspired/smoke-and-mirrors) which focuses
    on high performance list rendering.
</p>

<p>
    This component itself is an integration platform that provides lots of useful `mixins` to handle regular list requirement such
    as list selection control, list sorting, infinite scroll and list item expansion
    control. You can take advantage of these features by providing associated
    component instance with its required actions/callback functions and properties, or much simpler by mix the
    <b>mixin</b> into your controller and let it handle everything.
</p>