<h2>Coming soon!</h2>
<p>
    <b>ember-frost-list</b> is an ember addon that built on top of
    [smoke-and-mirror](https://github.com/runspired/smoke-and-mirrors) which focuses
    on high performance list rendering.
</p>

<p>
    This component itself provides user the ability
    to effortlessly handle common list operation such as selection control, list
    sorting, list item expansion control and infinite scroll.
</p>