<div class="dummy-notification-container">
	{{#each notifications as |notification|}}
		{{notification-message notification=notification}}
	{{/each}}
</div>

<ui class="frost-demo-nav">
    <li class="demo-nav-item">{{#link-to "documents" class='demo-link'}}Doc{{/link-to}}</li>
    <li class="demo-nav-item">{{#link-to "examples" class='demo-link'}}Live Demo{{/link-to}}</li>
    <li class="demo-nav-item">{{#link-to "infinite-scroll" class='demo-link'}}Infinite Scroll{{/link-to}}</li>
    <li class="demo-nav-item">{{#link-to "pagination" class='demo-link'}}Pagination{{/link-to}}</li>
    <li class="demo-nav-item">{{#link-to "item-primitives" class='demo-link'}}Item primitives{{/link-to}}</li>
    <li class="demo-nav-item">{{#link-to "pre-selection" class='demo-link'}}Pre selection{{/link-to}}</li>
    <li class="demo-nav-item">{{#link-to "qp-binding" class='demo-link'}}Query Binding{{/link-to}}</li>
</ui>

<div class="dummy-body">
	<div class="dummy-content">
		{{outlet}}
	</div>
</div>

{{frost-select-outlet}}