{{frost-select-outlet
  hook='demo-select-outlet'
}}
{{notification-container position="top-right"}}

<div class='frost-modal-demo'>
  <div class='frost-modal-demos'>
    <div class='frost-modal-demo-title'>
      Demos
    </div>
    {{#frost-scroll
      class='frost-modal-demo-selectors'
      hook='demo-navigation-scroll'
    }}
      <div class='frost-modal-demo-selector-title'>
        Cookbook
        {{#link-to 'simple'}}Basic{{/link-to}}
        {{#link-to 'size'}}Size{{/link-to}}
        {{#link-to 'infinite'}}Infinite{{/link-to}}
        {{#link-to 'paged'}}Paged{{/link-to}}
        {{#link-to 'typed'}}Typed{{/link-to}}
        {{#link-to 'single'}}Single select{{/link-to}}
        {{#link-to 'expansion-type'}}Initial expansion{{/link-to}}
      </div>
    {{/frost-scroll}}
  </div>

  <div class='frost-modal-demo-example'>
    {{outlet}}
  </div>
</div>
