// Complete clone of checkbox styles - need a better solution to copying this CSS
.frost-list-selection-indicator {
  display: inline-block;
  position: relative;
  font-size: $frost-font-size-1;
  font-weight: bold;
  color: $frost-color-grey-5;
  @include user-select(none);

  &::before {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    @include linear-gradient(white, $frost-color-lgrey-5);
    margin-right: 5px;
    border: 1px solid $frost-color-grey-6;
    vertical-align: middle;
    color: $frost-color-blue-1;
    content: "";
  }

  &.selected::before {
    content: url("data:image/svg+xml;utf8,
 <svg xmlns='http://www.w3.org/2000/svg' viewBox='3 2 31 31'> <rect xmlns='http://www.w3.org/2000/svg' x='10.7' y='15.3' transform='matrix(-0.7071 0.7071 -0.7071 -0.7071 35.6974 26.188)' fill='%23009EEF' width='3.5' height='10.3'/> <polygon xmlns='http://www.w3.org/2000/svg' fill='%23009EEF' points='14.9,25.4 12.4,22.9 26.2,9.4 28.7,12.1'/> </svg>");
  }
}
