.frost-list-item-container {
  padding: 0 1px 1px;
  border-top: 1px solid $frost-color-lgrey-1;

  &:hover {
    & .frost-list-item-container-base,
    & .frost-list-item-container-expansion {
      background-color: $frost-list-item-hover-color;
      cursor: pointer;
    }
  }

  &.is-selected {
    padding: 0;
    border-right: 1px solid $frost-color-blue-1;
    border-bottom: 1px solid $frost-color-blue-1;
    border-left: 1px solid $frost-color-blue-1;

    &.is-lead-selection {
      border-top: 1px solid $frost-color-blue-1;
    }
  }

  &.first {
    padding-top: 1px;
    border-top: 0;

    &.is-selected {
      padding-top: 0;
      border-top: 1px solid $frost-color-blue-1;
    }
  }
}

.frost-list-item-container-base {
  display: flex;
  flex-direction: row;
  height: 50px;
  padding-left: 5px;
  transition: background-color .2s;
  background-color: $frost-color-white;
}

.frost-list-item-container-expansion {
  display: flex;
  flex-direction: row;
  transition: background-color .2s;
  background-color: $frost-color-white;

  & .frost-list-item {
    padding: 15px 0 15px 5px;
  }
}
