.frost-list-item-element-block {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
  margin: 7px 0;
  padding: 0 7px;
}

.frost-list-item-element-block ~ .frost-list-item-element-block {
  border-left: 1px solid $frost-color-lgrey-2;
}

.frost-list-item-element-block-end {
  > div {
    margin-left: auto;
  }
}

.frost-list-item-element-loading {
  position: absolute;
  bottom: 20px;
  left: 5px;
  width: 20px;
  height: 20px;
}

.frost-list-item-element-primary,
.frost-list-item-element-secondary,
.frost-list-item-element-tertiary {
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: text;
  overflow: hidden;
}

.frost-list-item-element-primary {
  margin-bottom: 5px;
  padding: 0;
  color: $frost-color-grey-1;
  font-size: $frost-font-s;
  font-weight: 700;

  a {
    max-width: 100%;
    color: $frost-color-grey-1;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
      color: $frost-color-blue-1;
      text-decoration: underline;
    }
  }
}

.frost-list-item-element-secondary {
  padding: 0;
  color: $frost-color-grey-2;
  font-size: $frost-font-xs;
  font-weight: 400;
}

.frost-list-item-element-tertiary {
  flex-direction: row;
  align-items: center;
  margin-top: 1px;
  color: $frost-color-grey-1;
  font-size: $frost-font-xs;
}

.frost-list-item-element-tertiary + .frost-list-item-element-tertiary {
  margin-top: 5px;
}

.frost-list-item-element-badge {
  display: inline-block;
  margin-right: auto;
}

.frost-list-item-element-icon {
  width: 40px;
  height: 40px;
  margin: 5px 0 5px 5px;

  .frost-icon {
    width: 40px;
    height: 40px;
  }
}

.frost-list-item-element-label {
  margin-right: 5px;
  color: $frost-color-grey-5;
  font-weight: 500;
}

.frost-list-item-element-progress {
  display: flex;
  flex-direction: row;
  align-items: center;

  > * {
    margin-left: 5px;
  }
}

.frost-list-item-element-progress-state {
  position: relative;
  width: 35px;
  height: 35px;
}

.frost-list-item-element-progress-icon {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.frost-list-item-element-progress-overlay-failed {
  position: absolute;
  top: 5px;
  right: -10px;
  width: 25px;
  height: 25px;
}

@keyframes processing {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.frost-list-item-element-progress-overlay-pending {
  position: absolute;
  top: 0;
  width: 35px;
  height: 35px;
}

.frost-list-item-element-progress-overlay-processing {
  position: absolute;
  top: 0;
  width: 35px;
  height: 35px;
  animation: processing 1s linear infinite;
}
