.frost-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.paged {
    padding-right: $frost-list-scroll-rail-gutter-width;
  }

  .frost-list-header-sort-title {
    color: $frost-color-grey-4;
    font-size: $frost-font-s;
    white-space: nowrap;
  }

  .frost-sort {
    flex-wrap: wrap;

    .frost-sort-item {
      height: 100%;
    }

    .frost-sort-title {
      display: none;
    }

  }
}

.frost-list-header-divider {
  width: 1px;
  height: 15px;
  margin: 0 10px;
  background-color: $frost-color-grey-6;
}

.frost-list-header-end {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: auto;
}
