.frost-list-item-container {
  margin: 1px;
  outline: 1px solid $frost-color-lgrey-1;

  &:hover {
    .frost-list-item-container-base,
    .frost-list-item-container-expansion {
      background-color: $frost-list-item-hover-color;
      cursor: pointer;
    }
  }

  &.is-selected {
    position: relative;
    outline: 1px solid $frost-color-blue-1;
    z-index: 1;
  }

  &.no-expansion {
    padding-left: 35px;
  }


  // The last list item container is given a class so that it can be targeted
  // This is primarily to support the case where additional bottom margin needs
  // to be given to the bottom content in the list (e.g. when the bottom of the
  // list is covered by something like an action bar)
  // &.last {
  //   // No default styles
  // }
}

.frost-list-item-container-base {
  display: flex;
  flex-direction: row;
  height: 50px;
  padding-left: 5px;
  transition: background-color .2s;
  background-color: $frost-color-white;
}

.frost-list-item-container-expansion {
  display: flex;
  flex-direction: row;
  transition: background-color .2s;
  background-color: $frost-color-white;

  & .frost-list-item {
    padding: 15px 0 15px 5px;
  }
}
