.frost-list {
	@include display(flex);
	@include flex-direction(column);
}

.frost-list .frost-scroll::before,
.frost-list .frost-scroll::after {
	content: '';
	position: absolute;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: $frost-color-lgrey-1;
}

.frost-list .frost-scroll::before {
	left: 0;
}

.frost-list .frost-scroll {
	@include flex(1);
	padding-right: 15px;
}

.frost-list .frost-scroll::after {
	right: 15px;
}

.frost-list .border-top {
	height: 1px;
	margin-right: 15px;
	background-color: $frost-color-lgrey-1;
}

.frost-list .records {
	border-right: 1px solid $frost-color-lgrey-1;
	border-left: 1px solid $frost-color-lgrey-1;
	background-color: $frost-color-white;
}

.frost-list .border-bottom {
	height: 1px;
	margin-right: 15px;
	background-color: $frost-color-lgrey-1;
}
