@import 'node_modules/ember-frost-core/addon/styles/frost-theme';

$frost-list-expansion-item-hover-color: rgba($frost-color-blue-1, .05);
$frost-list-item-expansion-hover-background-color: rgba($frost-color-blue-1, .07);
$frost-list-item-hover-color: rgba($frost-color-blue-3, .05);
// Offset rails https://github.com/noraesae/perfect-scrollbar/issues/508
$frost-list-scroll-rail-gutter-width: 11px;

@import 'frost-list-header';
@import 'frost-list-content-container';
@import 'frost-list-pagination';
@import 'frost-list-expansion';
@import 'frost-list-item-container';
@import 'frost-list-item';
@import 'frost-list-item-expansion';
@import 'frost-list-item-selection';
@import 'frost-list-item-element';

.frost-list {
  &.shift-down {
    // Range select doesn't select text
    user-select: none;
  }
}

