@import 'node_modules/ember-frost-core/addon/styles/frost-theme';

$frost-list-header-height: 60px;
$frost-list-content-border-top: 1px;
$frost-list-content-border-bottom: 1px;

@mixin linear-gradient($pos, $g1, $g2: null,
                       $g3: null, $g4: null,
                       $g5: null, $g6: null,
                       $g7: null, $g8: null,
                       $g9: null, $g10: null,
                       $fallback: null) {
  // Detect what type of value exists in $pos
  $pos-type: type-of(nth($pos, 1));
  $pos-spec: null;
  $pos-degree: null;

  // If $pos is missing from mixin, reassign vars and add default position
  @if ($pos-type == color) or (nth($pos, 1) == "transparent")  {
    $g10: $g9; $g9: $g8; $g8: $g7; $g7: $g6; $g6: $g5;
    $g5: $g4; $g4: $g3; $g3: $g2; $g2: $g1; $g1: $pos;
    $pos: null;
  }

  @if $pos {
    $positions: _linear-positions-parser($pos);
    $pos-degree: nth($positions, 1);
    $pos-spec:   nth($positions, 2);
  }

  $full: $g1, $g2, $g3, $g4, $g5, $g6, $g7, $g8, $g9, $g10;

  // Set $g1 as the default fallback color
  $fallback-color: nth($g1, 1);

  // If $fallback is a color use that color as the fallback color
  @if (type-of($fallback) == color) or ($fallback == "transparent") {
    $fallback-color: $fallback;
  }

  background-color: $fallback-color;
  background-image: -webkit-linear-gradient($pos-degree $full); // Safari 5.1+, Chrome
  background-image: unquote("linear-gradient(#{$pos-spec}#{$full})");
}

.frost-list {
  display: flex;
  flex-direction: column;

  &-content {
    height: 100%;

    &-border-top {
      height: $frost-list-content-border-top;
      min-height: 1px;
      margin-right: 15px;
      background-color: $frost-color-lgrey-1;
    }
    &-container {
      height: calc(100% - #{$frost-list-content-border-top + $frost-list-content-border-bottom});
      border-right: 1px solid $frost-color-lgrey-1;
      border-left: 1px solid $frost-color-lgrey-1;
      background-color: $frost-color-white;

      vertical-collection {
        border-bottom: 1px solid $frost-color-lgrey-1
      }

      .vertical-item {
        min-height: 45px;
      }
    }
    &-border-bottom {
      height: $frost-list-content-border-bottom;
      min-height: 1px;
      margin-right: 15px;
      background-color: $frost-color-lgrey-1;
    }
  }

  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: $frost-list-header-height;

    .frost-list-expansion {
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: center;
      margin: 0 15px 0 0;
      font-size: $frost-font-s;
      cursor: pointer;

      .frost-list-expansion-item {
        height: 25px;
        line-height: 25px;
        padding: 0 10px 0 10px;
        color: $frost-color-blue-1;

        &:hover {
          background-color: rgba($frost-color-blue-1, 0.05);
        }

        &:first-child {
          &::after {
            content: '';
            position: absolute;
            top: 3px;
            left: 93px;
            width: 1px;
            height: 16px;
            background-color: $frost-color-lgrey-2;
          }
        }
      }
    }
  }

  &-header + .frost-list-content {
    height: calc(100% - #{$frost-list-header-height});
  }
}

//TODO remove entire frost-list-item styles when new list-item component available

//.frost-list-item {
//	display: flex;
//	flex-direction: row;
//	flex-wrap: wrap;
//	min-width: 0;
//}

.frost-list-item .select-checkbox {
	//Override frost-checkbox
	.frost-checkbox,
    .frost-list-selection-indicator {
		margin: 15px 0 0 10px;
	}
}

.frost-list-item .primary {
	padding-bottom: 5px;
	font-size: $frost-font-s;
	font-weight: bold;
	color: $frost-color-grey-2;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.frost-list-item .secondary {
	padding-bottom: 5px;
	font-size: $frost-font-xs;
	font-weight: bold;
	color: $frost-color-grey-2;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.frost-list-item .tertiary {
	flex-direction: row;
	align-items: center;
	font-size: $frost-font-xs;
	color: $frost-color-grey-4;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.frost-list-item .block {
	display: flex;
	flex-direction: column;
	min-width: 0;
	padding: 5px 15px 0 10px;
	margin: 5px 0;
}

.frost-list-item .block ~ .block {
	border-left: 1px solid $frost-color-lgrey-2;
}

.frost-list-item .block.end * {
	direction: rtl;
}

.frost-list-item .block.start {
	padding: 0;
	margin: 0;
}

.frost-list-item .label {
	margin-right: 5px;
}

.frost-list-item.terse {
	height: 50px;
}

.frost-list-item.terse .icon {
	width: 40px;
	height: 40px;
	margin: 5px 0 5px 5px;
}

.frost-list-item:hover {
    background-color: rgba($frost-color-blue-3, 0.05);
    cursor: pointer;
}

.frost-list .vertical-item :first-child {
	border-top: none;
}

.frost-list .vertical-item > div:not(.is-selected) {
	padding: 0px 2px 1px 2px;
	border-top: 1px solid $frost-color-lgrey-1;
}

.frost-list .vertical-item > div.is-selected {
  padding: 0 1px 1px 1px;
	border: 1px solid $frost-color-blue-3;
}

.frost-list-item .badge {
	display: inline-block;
	margin-right: auto;
}

.frost-list .container .vertical-item {
  min-height: 45px;
}
.is-selected + .is-selected {
	div.is-selected {
    padding-top: 1px;
		border-top: none;
	}
}
// Complete clone of checkbox styles - need a better solution to copying this CSS
.frost-list-selection-indicator {
  display: inline-block;
  position: relative;
  font-size: $frost-font-s;
  font-weight: bold;
  color: $frost-color-grey-5;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &::before {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    @include linear-gradient(white, $frost-color-lgrey-5);
    margin-right: 5px;
    border: 1px solid $frost-color-grey-6;
    vertical-align: middle;
    color: $frost-color-blue-1;
    content: "";
  }

  &.selected::before {
    content: url("data:image/svg+xml;utf8,
 <svg xmlns='http://www.w3.org/2000/svg' viewBox='3 2 31 31'> <rect xmlns='http://www.w3.org/2000/svg' x='10.7' y='15.3' transform='matrix(-0.7071 0.7071 -0.7071 -0.7071 35.6974 26.188)' fill='%23009EEF' width='3.5' height='10.3'/> <polygon xmlns='http://www.w3.org/2000/svg' fill='%23009EEF' points='14.9,25.4 12.4,22.9 26.2,9.4 28.7,12.1'/> </svg>");
  }
}

.frost-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;

  &-icon-text {
    line-height: 30px;
    &-text {
      display: inline-block;
      font-size: $frost-font-xs;
      color: $frost-color-grey-4;
    }
    &-icon {
      display: inline-block;
      position: relative;
      top: 4px;
      margin-right: 5px;
      svg {
        height: 15px;
        width: 15px;
      }
    }
  }

  &-primary-state {
    display: inline-block;
    font-size: $frost-font-xs;
    line-height: 15px;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 2px;

    &.neutral {
      color: $frost-color-grey-1;
      font-weight: 700;
    }

    &.critical {
      background-color: red;
      color: white;
    }

    &.major {
      background-color: $frost-color-orange-1;
      color: white;
    }

    &.warn {
      background-color: $frost-color-teal-1;
      color: white;
    }
  }

}

.frost-list-item-primary-identifier {
  overflow: hidden;
  white-space: nowrap;
  font-size: $frost-font-s;
  color: $frost-color-grey-1;
  font-weight: 600;
  line-height: 30px;
}

.frost-list-item-secondary-identifier {
   overflow: hidden;
   white-space: nowrap;
   font-size: $frost-font-xs;
   color: $frost-color-grey-1;
   line-height: 30px;
}

.frost-list-item-unlabeled-property {
  overflow: hidden;
  white-space: nowrap;
  font-size: $frost-font-xs;
  color: $frost-color-grey-1;
  line-height: 30px;
}

.frost-list-item-boolean {
  line-height: 30px;
  &-label {
    display: inline-block;
    font-size: $frost-font-xs;
    font-weight: 700;
    color: $frost-color-grey-4;
    margin-right: 5px;
  }
  &-icon {
    display: inline-block;
    position: relative;
    top: 4px;
    svg {
      height: 15px;
      width: 15px;
    }
  }
}


.local-frost-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .column {
    .local-title {
      overflow: hidden;
      white-space: nowrap;
      font-size: $frost-font-s;
      color: $frost-color-grey-1;
    }
    .secondary-identifier {
      overflow: hidden;
      white-space: nowrap;
      font-size: $frost-font-xs;
      color: $frost-color-grey-1;
    }
    .unlabled-property {
      overflow: hidden;
      white-space: nowrap;
      font-size: $frost-font-xs;
      color: $frost-color-grey-1;
    }
  }
}
