<div class="border-top"></div>
<div class="frost-scroll">
  <div class="records">
    {{#each mappedRecords as |record index|}}
      {{yield record index}}
    {{/each}}
  </div>
</div>
<div class="border-bottom"></div>
