{{! Template for the custom-sort component }}
<div class='item frost-flex-2 centered'>
  <div class='label'>
    Debug
  </div>
  {{component toggle}}
</div>
<div class='item frost-flex-4'>
  {{component sort}}
</div>
