@import 'node_modules/ember-frost-core/addon/styles/frost-theme';

.dummy-notification-container {
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 999;
  width: 80%;
  max-width: 400px;
  margin: auto;
}

.dummy-body {
  height: 100%;
  margin-left: 20px;
}

.dummy-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.frost-tabs.iframe {
  .navigation {
    display: none;
  }
}
