@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
@import 'tests/dummy/app/pods/components/list-item/styles';
@import 'tests/dummy/app/pods/components/list-item-expansion/styles';

// List sizing for demos

.frost-list.demo {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 300px;
}

// General demo styles
// TODO Move into an addon

$frost-modal-demos-shadow-color: rgba(0, 0, 0, .13);

.frost-modal-demo {
  display: flex;
  flex-direction: row;
}

.frost-modal-demos {
  height: 100vh;
  padding: 0 20px;
  box-shadow: 0 0 5px 3px $frost-modal-demos-shadow-color;
}

.frost-modal-demo-selectors {
  min-width: 100px;
  height: calc(100vh - 61px);
  margin: 10px 0 10px 10px;
  padding-right: 20px;
  font-size: $frost-font-s;

  a {
    display: block;
    transition: color .3s;
    color: $frost-color-grey-2;
    font-style: normal;
    text-decoration: initial;
    cursor: pointer;

    &:hover {
      color: $frost-color-blue-3;
    }

    &.active {
      color: $frost-color-blue-1;
    }

    + a {
      padding-top: 10px;
    }
  }
}

.frost-modal-demo-selector-title {
  padding-top: 10px;
  font-style: italic;

  + a {
    padding-top: 10px;
  }

  > a,
  > .frost-modal-demo-selector-title {
    padding: 10px 0 0 10px;
  }
}

.frost-modal-demo-overview-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
  padding-top: 60px;
  border-top: 1px solid $frost-color-lgrey-2;
}

.frost-modal-demo-example {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100vh;
  padding-left: 20px;
  background-color: $frost-color-lgrey-3;
}

.frost-modal-demo-api,
.frost-modal-demo-live {
  flex: 1;
  margin-right: 20px;

  .frost-tabs {
    margin-top: 15px;
  }
}

.frost-modal-demo-title {
  margin-top: 20px;
  color: $frost-color-grey-2;
  font-size: $frost-font-m;
  font-weight: bold;
}

.frost-modal-demo-snippet {
  margin: 0 20px;
  font-size: $frost-font-s;

  > pre {
    padding: 20px;
  }
}

.frost-modal-demo-notes {
  margin: 0 20px 0 10px;
  font-size: $frost-font-s;
}

.custom-sort {
  display: flex;
  flex-direction: row;
  width: 60%;

  .item {
    display: flex;
  }
  .center {
    justify-content: center;
  }
  .label {
    line-height: 45px;
    padding: 5px;
  }
}
