{{#if hasBlock}}
  {{yield}}
{{else}}
  {{#if icon}}
      <div class="frost-list-item-icon-text-icon">
        {{frost-icon icon=icon pack=pack}}
      </div>
  {{/if}}
  {{#if text}}
      <div class="frost-list-item-icon-text-text">
        {{text}}
      </div>
  {{/if}}
{{/if}}