{{! Template for the frost-list-expansion component }}

<div role="button" {{action onCollapseAll}} class="frost-list-expansion-item" data-test={{hook (concat hook '-collapse-all')}}>Collapse all</div>
<div role="button" {{action onExpandAll}} class="frost-list-expansion-item" data-test={{hook (concat hook '-expand-all')}}>Expand all</div>
