<div class="demo">
    <div>
      {{frost-button priority='secondary' size='small' text='Demo lists' onClick=(action 'transitionHandler' 'demo-lists')}}
    </div>
    <div>
      {{frost-button priority='secondary' size='small' text='Infinite scroll' onClick=(action 'transitionHandler' 'infinite-scroll')}}
    </div>
    <div>
      {{frost-button priority='secondary' size='small' text='controls integration list' onClick=(action 'transitionHandler' 'integration-list')}}
    </div>
</div>