.list-item-dynamic-height-placeholder {
  align-self: center;
  color: $frost-color-grey-5;
  font-style: italic;
}

.list-item-dynamic-height-large-placeholder {
  width: 200px;
  height: 100px;
  align-self: center;
  color: $frost-color-grey-5;
  font-style: italic;
}
