<div class='frost-list-item-element-block {{css}}-placeholder'>
  Placeholder - {{model.label}} - {{model.id}}
</div>
{{#if (eq model.id '398')}}
  <div class='{{css}}-large-placeholder'></div>
{{/if}}
