<div class='tertiary'>
  <div class='frost-flex-1 no-overflow-all'>
    {{#if model.resourceType}}
      <div class='tertiary small'>
        {{model.resourceType}}
      </div>
    {{else}}
      <div class='tertiary small'>
        Unknown type
      </div>
    {{/if}}
    {{#if model.profileName}}
      <div class='tertiary small'>
        {{model.profileName}}
      </div>
    {{/if}}
  </div>
</div>