<h3>Document</h3>

<div class="frost-list-documents">
    <div class="frost-list-documents-side-nav">
      {{#link-to 'documents.overview'}}Overview{{/link-to}}
    </div>

    <div class="frost-list-documents-content">
      {{outlet}}
    </div>
</div>
