<div {{action onCollapseAll target=onCollapseAll.context}} class="frost-list-expansion-item">Collapse all</div>
<div {{action onExpandAll target=onCollapseAll.context}} class="frost-list-expansion-item">Expand all</div>