<div {{action onCollapseAll}} class="frost-list-expansion-item" data-test={{hook 'collapse'}}>Collapse all</div>
<div {{action onExpandAll}} class="frost-list-expansion-item" data-test={{hook 'expand'}}>Expand all</div>