{{yield}}

<div class="header">
  {{#yield-slot 'header' (block-params (hash
  expansion=(component 'frost-list-toggle' showDetail=showDetail onClick=(action (mut showDetail) value="target.value"))
  sort=(component 'frost-sort')
  ))}}
    {{yield}}
  {{/yield-slot}}
</div>

<div class="content">
    <div class='border-top'></div>
    <div class='container'>
      {{#vertical-collection
      content=mappedRecords
      scrollPosition=scrollPosition
      defaultHeight=defaultHeight
      alwaysUseDefaultHeight=alwaysUseDefaultHeight
      key=key
      idForFirstItem=idForFirstItem
      firstReached=loadPrevious
      lastReached=loadNext
      as |record index|
      }}
        {{component item model=record index=index firstBody=firstBody secondBody=secondBody thirdBody=thirdBody  showDetail=showDetail}}

      {{/vertical-collection}}
    </div>
    <div class='border-bottom'></div>
</div>