{{#if _hasHeader}}
    <div class="frost-list-header">
      {{#if sorting}}
        {{component sorting}}
      {{/if}}
      {{#if expansion}}
        {{component expansion 
          hook=hook
        }}
      {{/if}}
    </div>
{{/if}}
<div class="frost-list-content">
    <div class='frost-list-content-border-top'></div>
    <div class='frost-list-content-container'>
      {{#vertical-collection
        content=_records
        scrollPosition=scrollPosition
        defaultHeight=defaultHeight
        alwaysUseDefaultHeight=alwaysUseDefaultHeight
        key=key
        idForFirstItem=idForFirstItem
        firstReached=loadPrevious
        lastReached=loadNext
        as |record index|
      }}
        {{component item
          model=record
          hook=(concat hook '-item-' index)
          onSelect=(action 'selectItem')
        }}
      {{/vertical-collection}}
    </div>
    <div class='frost-list-content-border-bottom'></div>
</div>