{{yield}}

<div class="header">
  {{#yield-slot 'header' (block-params (hash
  expansion=(component 'frost-list-toggle' hook=(concat hook '-toggle') showDetail=showDetail onClick=(action (mut showDetail) value="target.value"))
  sort=(component 'frost-sort')
  ))}}
    {{yield}}
  {{/yield-slot}}
</div>

<div class="content">
    <div class='border-top'></div>
    <div class='container'>
      {{#vertical-collection
      content=mappedRecords
      scrollPosition=scrollPosition
      defaultHeight=defaultHeight
      alwaysUseDefaultHeight=alwaysUseDefaultHeight
      key=key
      idForFirstItem=idForFirstItem
      firstReached=loadPrevious
      lastReached=loadNext
      as |item index|
      }}
        {{component
          recordComponent
          model=item
          showDetail=showDetail
          hook=(concat hook '-item-' index)
          hookQualifiers=(hash index=index)
        }}
      {{/vertical-collection}}
    </div>
    <div class='border-bottom'></div>
</div>