
.frost-list-item {
  padding: 5px 15px 0 5px;

  &.is-expanded {
    min-height: 90px !important;
  }
  // &.is-collapsed {
  //   min-height: 45px !important;
  // }
  // TODO Don't need a terse/medium/large style

  .row { // TODO Add to the list item pattern (or more globally as frost-row, frost-column)
    @include display(flex);
    @include flex-direction(row);
  }
  .expand-collapse-cheveron {
    margin: auto 0;
    padding-left: 5px;
    & > svg{
      min-width: 25px;      
    }
  }
  .select-checkbox {
    min-width: 50px;
  }

  .column {
    @include display(flex);
    @include flex-direction(column);
  }
}

.frost-list-item .secondary {
  font-weight: normal;
  font-size: $frost-font-s;
}

.frost-list-item .last-col {
  padding: 0px 5px;
}

.frost-list-item .small {
  font-weight: normal;
  font-size: $frost-font-xs;
}

.frost-list-item .last {
  @include display(flex);
  @include align-items(flex-end);
}
